.root {
    -fx-background-color: #f0f0f0; /* Warna latar belakang root */
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #060606;
    -fx-font-weight: bold;
}

.error-text {
    -fx-font-size: 14px;
    -fx-fill: red;
    -fx-font-weight: bold;
}

.text-field {
    -fx-prompt-text-fill: #999999;
    -fx-max-width: 300px;
    -fx-min-width: 100px;
}

.button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: "#323232";
    -fx-background-color: #cea627;
    -fx-padding: 8px 16px;
    -fx-min-width: 171px;
	-fx-min-height: 38px;
}

.button:hover {
    -fx-background-color: #555555;/* Warna latar belakang button saat dihover */
}

.button:pressed {
    -fx-background-color: #222222;
}