.desc-text {
	-fx-text-fill: #efd9bb;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.btn-start {
	-fx-background-color: #cea674;
	-fx-text-fill: #323232;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-min-width: 171px;
	-fx-min-height: 38px;
	-fx-background-radius: 42px;
}

.btn-start:hover {
	-fx-background-color: #555555;
}

.btn-start:pressed {
	-fx-background-color: #222222;
}