.vbox-layout {
	-fx-background-color: #d6cbb8;
}
.vbox-menu {
	-fx-background-color: #cea267;
}

.title-text-left {
	-fx-fill: #cea267;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.title-text-right {
	-fx-fill: #FFFFFF;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.label-menu {
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 15px;
  
}

.menu-active {
	-fx-background-color: #555;
}

.hbox-home:hover {
    -fx-background-color: #555;
}

.hbox-home:pressed {
	-fx-background-color: #ffffff;
}